<footer>
  <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-12 col-lg-5" id="footer-support">
		<div id="footer-support-message">
		The Consortium is hosted at the Department of Infectious Disease Epidemiology, Imperial College London. 
		</div>
		<div id="footer-support-logos">
		  <img src="/img/ICL_logo.png" alt="Imperial College logo" />
		</div>
	  </div>
	  <div class="col-sm-12 col-lg-2">
	    <div class="center">
	      <a type="button" class="btn btn-info btn-sm footer-button" href="http://montagu.vaccineimpact.org">Access Montagu</a>
		  <div><a href="/accessibility/">Accessibility</a></div>
		</div>
	  </div>
	  <div class="col-sm-12 col-lg-5" id="footer-contact">
		Department of Infectious Disease Epidemiology<br/>
		Medical School Building<br/>
		Imperial College London<br/>
		Norfolk Place, London W2 1PG UK<br/>  
		<a href="mailto:vimc@imperial.ac.uk">vimc@imperial.ac.uk</a>
	  </div>
	</div>
  </div>
</footer>
