<footer>
  <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-12 col-lg-5" id="footer-support">
		<div id="footer-support-message">The Vaccine Impact Modelling Consortium is supported by:</div>
		<div id="footer-support-logos">
		  <img src="/img/ICL_logo.png" />
		</div>
	  </div>
	  <div class="col-sm-12 col-lg-2" id="footer-button">
	    <div class="center">
	      <a type="button" class="btn btn-info btn-sm" href="http://google.com">Access Montagu</a>
		</div>
	  </div>
	  <div class="col-sm-12 col-lg-5" id="footer-contact">
		Department of Infectious Disease Epidemiology<br/>
		Medical School Building<br/>
		Imperial College London<br/>
		Norfolk Place, London W2 1PG UK<br/>  
		<a href="mailto:vimc@imperial.ac.uk">vimc@imperial.ac.uk</a>
	  </div>
	</div>
  </div>
</footer>
