---
layout: base
---

{% include header.html type="page" %}

<div class="container-fluid" role="main">
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>

	<div class="col-md-3 col-sm-12">
	  {% if site.posts.size > 0 %}
	  <div id="panel-news">
	    <h2>Latest News</h2>
        <div class="posts-list">
		  {% for post in site.posts limit:site.num_latest_news_to_show %}
		  <article class="post-preview">
			<a href="{{ post.url | prepend: site.baseurl }}">
			  <h2 class="post-title">{{ post.title }}</h2>

			  {% if post.subtitle %}
			  <h3 class="post-subtitle">
				{{ post.subtitle }}
			  </h3>
			  {% endif %}
			</a>

			<p class="post-meta">
			  Posted on {{ post.date | date: "%B %-d, %Y" }}
			</p>

			<div class="post-entry">
			  {{ post.content | strip_html | xml_escape | truncatewords: 15 }}
			  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
			</div>
		  </article>
		  {% endfor %}
		</div>
	  </div>
	  {% endif %}
	  {% if site.twitter %}
	    <div id="panel-twitter">
          <a class="twitter-timeline" data-height="400" href="https://twitter.com/{{ site.twitter }}">Tweets by {{ site.twitter }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	    </div>
	  {% endif %}
	</div>
  </div>
</div>
